## Pandas Basics

In [1]:
import pandas as pd

`Dataframe` is the core data structure in pandas. They are basically just tables.

In [2]:
carrot_df = pd.DataFrame(
    {
        "CarrotId": [1, 2, 3, 4, 5],
        "Color": ["#FFCC00", "#FF8B00", "#D25F2A", "#F0B347", "#F38C22"],
        "Length": [5, 4.3, 4.7, 6.7, 6],
        "Price": [1, 0.8, 0.9, 1.3, 0.9],
    }
)

carrot_df

   CarrotId    Color  Length  Price
0         1  #FFCC00     5.0    1.0
1         2  #FF8B00     4.3    0.8
2         3  #D25F2A     4.7    0.9
3         4  #F0B347     6.7    1.3
4         5  #F38C22     6.0    0.9

You can also read them from a file (e.g. csv).

In [3]:
grocery_df = pd.read_csv("data/grocery_catalog.csv")

grocery_df

# These also exist

# pd.read_json()
# pd.read_parquet()
# pd.read_pickle()

   id     name   category  price  quantity  calories
0   1    Apple      Fruit   1.50        45        90
1   2   Banana      Fruit   0.50        50       125
2   3   Carrot  Vegetable   0.35        40        25
3   4    Bread     Bakery   1.50        15       470
4   5     Milk      Dairy   1.95         8       280
5   6   Orange      Fruit   1.05        67        80
6   7  Spinach  Vegetable   1.10        15        10

How to get a quick understanding of what's inside a given Dataframe.

In [4]:
# Show the first x rows
x = 3
grocery_df.head(x)

   id    name   category  price  quantity  calories
0   1   Apple      Fruit   1.50        45        90
1   2  Banana      Fruit   0.50        50       125
2   3  Carrot  Vegetable   0.35        40        25

In [5]:
# Print column names and other metadata
grocery_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7 non-null      int64
 1   name      7 non-null      object
 2   category  7 non-null      object
 3   price     7 non-null      float64
 4   quantity  7 non-null      int64
 5   calories  7 non-null      int64
dtypes: float64(1), int64(3), object(2)
memory usage: 468.0+ bytes