## Columns (pt 2)

How can we manipulate columns in context of an entire DataFrame?

In [4]:
import pandas as pd

grocery_df = pd.read_csv("data/grocery_catalog.csv")

Adding columns to a DataFrame.

In [5]:
grocery_df["total_price"] = grocery_df["quantity"] * grocery_df["price"]
grocery_df["10x_quantity"] = grocery_df["quantity"] * 10
grocery_df["ratings"] = [4.8, 4.0, 3.4, 4.5, 3.9, 4.3, 2.9]

grocery_df

,id,name,category,price,quantity,calories,total_price,10x_quantity,ratings
0,1,Apple,Fruit,1.50,45,90,67.50,450,4.8
1,2,Banana,Fruit,0.50,50,125,25.00,500,4.0
2,3,Carrot,Vegetable,0.35,40,25,14.00,400,3.4
3,4,Bread,Bakery,1.50,15,470,22.50,150,4.5
4,5,Milk,Dairy,1.95,8,280,15.60,80,3.9
5,6,Orange,Fruit,1.05,67,80,70.35,670,4.3
6,7,Spinach,Vegetable,1.10,15,10,16.50,150,2.9

In [6]:
# without mutating the existing DataFrame
grocery_df_new = grocery_df.assign(new_col=[0, 0, 0, 0, 0, 0, 0])
len(grocery_df.columns), len(grocery_df_new.columns)

(9, 10)

Selecting specific columns from a DataFrame.

In [7]:
grocery_df[["id", "name", "price"]]

   id     name  price
0   1    Apple   1.50
1   2   Banana   0.50
2   3   Carrot   0.35
3   4    Bread   1.50
4   5     Milk   1.95
5   6   Orange   1.05
6   7  Spinach   1.10

In [8]:
# you can also make a new DataFrame from these isolated columns
grocery_df_narrowed = grocery_df[["id", "name", "price"]]

Removing columns from a DataFrame

In [9]:
# this doesn't mutate the original DataFrame
grocery_df.drop(columns=["10x_quantity"])

   id     name   category  price  quantity  calories  total_price  ratings
0   1    Apple      Fruit   1.50        45        90        67.50      4.8
1   2   Banana      Fruit   0.50        50       125        25.00      4.0
2   3   Carrot  Vegetable   0.35        40        25        14.00      3.4
3   4    Bread     Bakery   1.50        15       470        22.50      4.5
4   5     Milk      Dairy   1.95         8       280        15.60      3.9
5   6   Orange      Fruit   1.05        67        80        70.35      4.3
6   7  Spinach  Vegetable   1.10        15        10        16.50      2.9