## Filtering

In [11]:
import pandas as pd

grocery_df = pd.read_csv("data/grocery_catalog.csv")

Filtering based on a condition.

In [ ]:
grocery_df[grocery_df["category"] != "Fruit"]

# notice how this evaluates to:
# grocery_df[[False, False, True, True, True, False, True]]

   id     name   category  price  quantity  calories
2   3   Carrot  Vegetable   0.35        40        25
3   4    Bread     Bakery   1.50        15       470
4   5     Milk      Dairy   1.95         8       280
6   7  Spinach  Vegetable   1.10        15        10

Selecting a range of rows.

In [8]:
grocery_df.iloc[2:5]

   id    name   category  price  quantity  calories
2   3  Carrot  Vegetable   0.35        40        25
3   4   Bread     Bakery   1.50        15       470
4   5    Milk      Dairy   1.95         8       280

In [9]:
# and of course, the head() and tail() functions for the first/last n rows

grocery_df.head(3)

   id    name   category  price  quantity  calories
0   1   Apple      Fruit   1.50        45        90
1   2  Banana      Fruit   0.50        50       125
2   3  Carrot  Vegetable   0.35        40        25

In [10]:
grocery_df.tail(3)

   id     name   category  price  quantity  calories
4   5     Milk      Dairy   1.95         8       280
5   6   Orange      Fruit   1.05        67        80
6   7  Spinach  Vegetable   1.10        15        10